package {{daoPackage}};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import {{entityPackage}}.{{className}};

/**
 * {{comment}}({{tableName}})表数据库访问层
 *
 * @author {{author}}
 * @date {{date}}
 */
public interface {{className}}Dao extends BaseMapper<{{className}}> {

}