package {{entityPackage}};

{{#imports}}
import {{.}};
{{/imports}}
import java.io.Serializable;
import java.util.Objects;
{{#hasJakarta}}
import jakarta.persistence.Column;
import jakarta.persistence.Entity;
import jakarta.persistence.GeneratedValue;
import jakarta.persistence.GenerationType;
import jakarta.persistence.Id;
import jakarta.persistence.Table;
{{/hasJakarta}}
{{#useLombok}}
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
{{/useLombok}}
{{#useSwagger}}
{{#hasSpringDoc}}
import io.swagger.v3.oas.annotations.media.Schema;
{{/hasSpringDoc}}
{{/useSwagger}}

/**
 * {{comment}}({{tableName}})JPA 实体。
 *
 * <p>Spring Boot 3.5 + Jakarta Persistence 3.x。JPA 规范要求实体为非 final 类,
 * 含无参构造函数,字段可变(框架代理需求),因此实体不能用 record。
 * 不可变快照请使用同目录的 {@code dto.mustache} 生成的 record DTO。
 *
 * @author {{author}}
 * @date {{date}}
 */
{{#useSwagger}}
{{#hasSpringDoc}}
@Schema(description = "{{comment}}")
{{/hasSpringDoc}}
{{/useSwagger}}
{{#hasJakarta}}
@Entity
@Table(name = "{{tableName}}")
{{/hasJakarta}}
{{#useLombok}}
@Getter
@Setter
@NoArgsConstructor
{{/useLombok}}
public class {{className}} implements Serializable {

    private static final long serialVersionUID = {{serialVersionUID}}L;

{{#columns}}
    /**
     * {{comment}}
     */
    {{#useSwagger}}
    {{#hasSpringDoc}}
    @Schema(description = "{{comment}}", requiredMode = {{^nullable}}Schema.RequiredMode.REQUIRED{{/nullable}}{{#nullable}}Schema.RequiredMode.NOT_REQUIRED{{/nullable}})
    {{/hasSpringDoc}}
    {{/useSwagger}}
    {{#hasJakarta}}
    {{#isPrimaryKey}}@Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    {{/isPrimaryKey}}@Column(name = "{{name}}"{{^nullable}}, nullable = false{{/nullable}}{{#maxLength}}{{#isString}}, length = {{maxLength}}{{/isString}}{{/maxLength}})
    {{/hasJakarta}}
    private {{javaType}} {{javaName}};

{{/columns}}
{{^useLombok}}
{{#columns}}
    public {{javaType}} get{{capitalizedJavaName}}() {
        return {{javaName}};
    }

    public void set{{capitalizedJavaName}}({{javaType}} {{javaName}}) {
        this.{{javaName}} = {{javaName}};
    }

{{/columns}}
{{/useLombok}}

    @Override
    public boolean equals(Object o) {
        if (this == o) return true;
        if (!(o instanceof {{className}} other)) return false;
        return Objects.equals({{primaryKeyName}}, other.{{primaryKeyName}});
    }

    @Override
    public int hashCode() {
        return Objects.hash({{primaryKeyName}});
    }
}
