<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{package}}.dao.{{className}}Dao">

    <resultMap type="{{package}}.entity.{{className}}" id="{{className}}Map">
{{#columns}}
        <result property="{{javaName}}" column="{{name}}" jdbcType="{{jdbcType}}"/>
{{/columns}}
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="{{primaryKeyName}}" useGeneratedKeys="true">
        insert into {{tableName}}({{#otherColumns}}{{name}}{{#hasNext}}, {{/hasNext}}{{/otherColumns}})
        values
        <foreach collection="entities" item="entity" separator=",">
        ({{#otherColumns}}#{entity.{{javaName}}}{{#hasNext}}, {{/hasNext}}{{/otherColumns}})
        </foreach>
    </insert>
    
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="{{primaryKeyName}}" useGeneratedKeys="true">
        insert into {{tableName}}({{#otherColumns}}{{name}}{{#hasNext}}, {{/hasNext}}{{/otherColumns}})
        values
        <foreach collection="entities" item="entity" separator=",">
            ({{#otherColumns}}#{entity.{{javaName}}}{{#hasNext}}, {{/hasNext}}{{/otherColumns}})
        </foreach>
        on duplicate key update
        {{#otherColumns}}{{name}} = values({{name}}){{#hasNext}}, {{/hasNext}}{{/otherColumns}}
    </insert>

</mapper>